.drop-down {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: azure;
    border-radius: 8px;
    position: absolute;
}

.drop-down li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 8px 24px;
}

.drop-down li:hover {
    background-color: #e0efef;
    cursor: pointer;
}

.drop-down.hidden {
    display: none;
}